@import '../../assets/styles/setup/variables';
.transfer-fund {
    margin-bottom: 30px;
    form{
        display: flex;
        width: 100%;
        align-items: center;
        input{
            padding:8px 16px;
            width: 100%;
            border-radius: 10px 0 0 10px;
            border: 2px solid $muted;
            border-right: none;
            outline: none;
        }
     
button{
    border: none;
    outline: none;
    align-self:flex-end ;
    padding:10px 20px;
    border-radius: 0 10px 10px 0;
    background-color: $main-clr;
    color: white;
    transition: .3s;
    &:hover{
        opacity: 75%;
    }
}

    }
}
