@font-face {
    font-family: Montserrat;
    src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Opensans;
    src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: GreatVibes;
    src: url(~@/assets/fonts/GreatVibes/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: Dosis;
    src: url(~@/assets/fonts/Dosis/Dosis-Regular.ttf);
}

@font-face {
    font-family: LibreFranklin;
    src: url(~@/assets/fonts/Libre_Franklin/LibreFranklin-Medium.ttf);
}
@font-face {
    font-family: LibreFranklin-lighter;
    src: url(~@/assets/fonts/Libre_Franklin/LibreFranklin-Light.ttf);
}

@font-face {
    font-family: JosefinSans;
    src: url(~@/assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf);
}


