@import '../../assets/styles/setup/variables';
.contact-preview {
    padding:20px;
    display: flex;
    align-items: center;
    // max-width: 300px;
    justify-content: center;
    border-radius: 10px;
    &:hover{
        box-shadow: 0 0 10px 0.5px rgba(207, 207, 207, 0.623);
    }
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding-bottom: 0;
        align-self: center;
        margin-inline-end: 10px;
    }
    p.name{
        color:$main-clr-dark;
        margin:12px 0;
    }
    p{
        margin:0;
        color:$muted;
        margin-bottom:15px;
    }
}


// .contact-preview {
//     padding:30px;
//     // box-shadow: 0 0 0 0.1px black;
//     border-radius: 2rem;
//     display: flex;
//     justify-content: center;
//     cursor: pointer;
//     transition: .3s;
//     &:hover{
//         box-shadow: 0 0 10px 0.5px rgba(207, 207, 207, 0.623);
//     }
//     img{
//         width: 50px;
//         height: 50px;
//     }
//     .preview-details{
//         display: flex;
//         flex-direction: column;
//         p{
//             margin:0;
//             color:$main-clr-dark;
//             margin-bottom:20px;
//         }
//         p:not(:first-of-type){
//             color:$muted;
//             margin-bottom:7px;
//         }
//     }

// }